.day-exercises-container {
  text-align: center;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
}

.add-exercise input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 200px;
}

.add-exercise button {
  padding: 0.5rem 1rem;
  background: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-exercise button:hover {
  background: #55efc4;
}

.exercise-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.exercise-item {
  padding: 0.7rem;
  margin: 0.5rem auto;
  width: 200px;
  border: 1px solid #0984e3;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.exercise-item:hover {
  background: #dfe6e9;
}
