.category-page {
  text-align: center;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.category-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222;
}

.add-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.add-section input {
  padding: 8px 12px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.add-section button {
  padding: 8px 14px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.add-section button:hover {
  background-color: #0056b3;
}

.exercise-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.exercise-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.exercise-card:hover {
  background: #28a745;
  color: white;
  transform: translateY(-3px);
}

.back-btn {
  margin-top: 30px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.back-btn:hover {
  color: #0056b3;
}
.exercise-list li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.1rem;
}
.exercise-list li button:hover {
  transform: scale(1.1);
}
